<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crm.dao.NoticeMapper">
	<select id="SelectNoticeAll" parameterType="fenye" resultType="notice">
		SELECT no_id,username,no_userid,sendingtime,receivingtime,no_content,no_state from notice where no_userid=#{notice.no_userid}
		 ORDER BY no_id desc LIMIT #{page},#{pageSize}
	</select>
	<select id="SelectNoticeCount" parameterType="fenye" resultType="int">
		SELECT count(1) from notice 
		<where>
			<if test="notice.no_userid!='' and notice.no_userid!=null">
				and  no_userid=#{notice.no_userid}
			</if>
			<if test="notice.no_state>=0 and notice.no_state!=null">
				and  no_state=${notice.no_state}
			</if>
		</where>
	</select>
	<update id="UpdateNotice" parameterType="notice">
			update notice
		<set>
			
			<if test="no_state>=0">
				no_state=#{no_state},			
			</if>
			
		
		</set>
			where no_id=#{no_id}
	</update>
	<insert id="insertNotice" parameterType="notice">
		INSERT into notice (username,no_userid,sendingtime,no_content) value(#{username},#{no_userid},now(),#{no_content})
	</insert>
</mapper>